h2{
    text-decoration: underline;
}
hr{
    width: 50%;
    margin: 0;
}
p{
    font-size: larger;
}
div p{
    color: blue;

}
a{
    color: orange;
    text-decoration: underline;
}
div div p{
    color: black;
}

div div div p a{
    color:black;
    background-color: yellow;
    text-decoration: underline red;

}
li a{
    color: red;
}

li ul li{
    color: blue;
}


